$brand-color: #cdeaf2;
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $brand-color;
   }
.logo {
    margin-left: 5%;
    align-self: center;
    max-height: 60px;
    max-width: 60px;
    margin-bottom: 1.1em;
    }
img {
    display: block;
    
}
nav {
    margin: 1.5em 0 0 5%;
    align-self: center;
}
header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}
header ul li a {
    text-decoration: none;
    color: black
}